################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoDeploy/FileContentIndex/85dac980-0c85-4259-a955-60cec4f948ac.vsidx
/.vs/AutoDeploy/FileContentIndex/b664a47d-7c48-4c3b-b0d0-97f1bae1789b.vsidx
/.vs/AutoDeploy/FileContentIndex/cb1b8158-317f-4a1c-a74e-5c8d0184f2b2.vsidx
/.vs/AutoDeploy/v17/.wsuo
/.vs/AutoDeploy/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/.vs/AutoDeploy/FileContentIndex/71e80116-fef7-4a6a-a70c-7383e93299e0.vsidx
/.vs/AutoDeploy/FileContentIndex
